.main-container{
    width: 1000%;
    height: 700px;
    background-color: rgb(69, 51, 35);

}
.image-box{
    width: 400px;
    text-align: center;
    background-color:rgb(234, 125, 16) ;
}
.image-box>div>img{
    width: 100%;
}
.image-box>div>h4{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}
.image-content{
   padding:8px 0px;
}

